@import "~normalize.css";
html {
    height:100%;
    font-size:14px;
}
body {
    margin:0;
    height:100%;
    background:#445454;
}
.root {
    width:100%;
    height:100%;
}
.header {

}
.box {
    margin:20px;
    padding:20px;
    box-shadow:0 0 3px rgba(0,0,0,.4);
    background:#fff;
}
.post-text {
    border:1px solid #999;
    width:100%;
    resize:none;
    min-height:100px;
    height:auto;
}
